.container {
  background: url(images/cca9273f27b7d53570e52f55b92aff0c-640x344\ 1\ \(1\).png) no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.header-logo {
  color: white;
  position: absolute;
  top: 10px;
  left: 10%;
  font-size: 48px;
}

.header-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.content-inner{
  padding: 98px;
}
.content-box{
  background: linear-gradient(180deg, #5FF45C 0%, #D1FCD0 9.9%, #F5FEF5 18.23%, #FFFFFF 90.62%, rgba(63, 243, 59, 0) 100%),#b3c100;
  display: inline-block;
  text-align: center;
  height: 98px;
}
.content-ttl{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  padding-top: 10px;
  color: #34675c;
}

.content-txt{
border: double 10px rgb(180, 230, 179);
max-width: 1000px;
padding-bottom: 150px;
}

.content2-Ranking{
  background: radial-gradient(59.11% 59.11% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #4CF0FB;
  mix-blend-mode: multiply;
  margin-top:250px;
  padding-top: -100px;
padding-bottom: 250px;

background-image: url(images/images\ 1.png);
background-repeat: no-repeat;
background-position-x: 840px;
background-position-y: bottom;
}
.content2-inner{
  padding: 150px 100px 100px 100px;
}
.content2-box{
  background:linear-gradient(180deg, #5FF45C 0%, #D1FCD0 9.9%, #F5FEF5 18.23%, #FFFFFF 90.62%, rgba(63, 243, 59, 0) 100%), #B3C100; 
  text-align: center;
  height: 110px;
  margin-top: -120px;
}
.content2-ttl{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 137.69%;
padding-top: 30px;
color: #34675c;
}


.content2-Rankstyle{
  counter-reset:ctr-ranking;           /* カウンターをリセット */
  padding: 100px 0 0 0;
  text-align:left;                     /* 左寄せ */
  font-size: 30px;                     /* フォントサイズ */
  margin-left:20px;                    /* 左の余白高さ */
}

.content2-Rankstyle li{
  position   : relative;               /* 指定した分だけ相対的に移動 */
  line-height: 3;                      /* 行の高さ */
}
.content2-Rankstyle li:nth-child(-n+3){
  list-style-type : none ;             /* リストマーク消す */
}

.main-inner{
  padding: 100px;
}

.main-box{
  background: linear-gradient(180deg, #5FF45C 0%, #D1FCD0 9.9%, #F5FEF5 18.23%, #FFFFFF 90.62%, rgba(63, 243, 59, 0) 100%), #B3C100;
  mix-blend-mode: multiply;
 margin-top: 100px;
 text-align: center;
 height: 110px;
}

.main-ttl{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 137.69%;
color: #34675C;
padding-top: 5px;
}

.main-subttl{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 137.69%;
width: auto;
text-align: left;
padding: 40px;
-webkit-text-stroke: 1px#FFFFFF;
}

.under{
  background: linear-gradient(transparent 50%, #60c9e9 50%);
}
.img{
width: 50px;
height: 50px;
}

.main-txt{
  font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 25px;
;
color: #34675C;
}